@{ 
    ViewBag.Title = "Change Password"; 
} 

@section Scripts
{
    <script src="@Url.Content("~/Angular/Account/Service.js")"></script>
    <script src="@Url.Content("~/Angular/Account/Controller.js")"></script>
}

<section ng-controller="AccountController" ng-init="InitializeChangePassView()">
    <div class="col-lg-6 col-md-7 col-lg-offset-3">
        <div class="card">
            <div class="header">
                <h4 class="title text-center">Change Password</h4>
            </div>
            <div class="content">
                <form ng-submit="ChangePassword()">
                    <div class="row">   
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Old Password</label>
                                <input type="password" minlength="5" class="form-control border-input" placeholder="Type old password" value="{{Pass.Old}}" ng-model="Pass.Old">
                            </div>
                        </div>
                    </div>

                    <div class="row">   
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">New password</label>
                                <input type="password" minlength="5" class="form-control border-input" placeholder="New password" value="{{Pass.New}}" ng-model="Pass.New">
                            </div>
                        </div>
                    </div>

                    <div class="row">   
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Confirm new password</label>
                                <input type="password" minlength="5" class="form-control border-input" placeholder="Confirm new password" value="{{Pass.ConfirmNew}}" ng-model="Pass.ConfirmNew">
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-fill btn-wd">Change Password</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</section>