@{
    ViewBag.Title = "Users";
}

<section ng-controller="UserController" ng-init="InitializeAddRetunView()">
    <h2 class="text-center">The user {{ User.FirstName + ' ' + User.LastName }} was succesfully created</h2>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2">
        <div class="card">
            <div class="content">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr></tr>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>First Name:</th>
                            <td>{{ User.FirstName }}</td>
                        </tr>
                        <tr>
                            <th>Last name:</th>
                            <td>{{ User.LastName}}</td>
                        </tr>
                        <tr>
                            <th>City:</th>
                            <td>{{ User.City}}</td>
                        </tr>
                        <tr>
                            <th>Country:</th>
                            <td>{{ User.Country}}</td>
                        </tr>
                        <tr>
                            <th>Email address:</th>
                            <td>{{ User.Email}}</td>
                        </tr>
                        <tr>
                            <th>Password:</th>
                            <td>{{ User.Password}}</td>
                        </tr>
                    </tbody>
                </table>
                <form>
                    <div class="Inlinebtn col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4 class="title">Send password in Email</h4>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                            <label class="onoffswitch-label" for="myonoffswitch"></label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-sm-offset-1 hiddenpass" id="Sendemail">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email the account information to.</label>
                                <input type="email" class="form-control border-input" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="text-center pull-right">  
                        <a class="btn btn-danger btn-wd"  href="@Url.Action("Index", "User")" >Close</a>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </div>
         </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/countries.js"></script>
    <script src="@Url.Content("~/Angular/User/Service.js")"></script>
    <script src="@Url.Content("~/Angular/User/Controller.js")"></script>
    <script src="@Url.Content("~/Angular/Site/Service.js")"></script>
    <script>
        $('#myonoffswitch').on('click', function () {
             if (!this.checked) {
                 $('#Sendemail').removeClass('hiddenpass');
             }
             else {
                 $('#Sendemail').addClass('hiddenpass');
             }
         });
    </script>
}

