@{
    ViewBag.Title = "Remote Administration Tool";
}

<link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />

@section Scripts{
    <script src="https://backend.crawlersite.com/socket.io.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCApRyQmp_iLK8URQupp54NjkJELzfrIoU"></script>
    <script src="//github.com/michaelvillar/dynamics.js/releases/download/0.0.8/dynamics.min.js"></script>
    <script src="@Url.Content("~/Angular/RAT/Service.js")"></script>
    <script src="@Url.Content("~/Angular/RAT/Controller.js")"></script>

    <script>
        google.maps.event.addDomListener(window, 'load', init);
        var mapElement = null;
        var map = null;
        function init() {
            var mapOptions = {
                zoom: 2,

                center: new google.maps.LatLng(30.6700, -40.9400), // North Atlantic Ocean

                /// https://snazzymaps.com/style/108786/crawler-site-v1-0-map
                styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"administrative.country","elementType":"geometry.stroke","stylers":[{"saturation":"-11"},{"lightness":"34"}]},{"featureType":"administrative.country","elementType":"labels.text.fill","stylers":[{"invert_lightness":true},{"lightness":"24"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"visibility":"on"}]},{"featureType":"road.local","elementType":"labels.text","stylers":[{"hue":"#ff0000"}]},{"featureType":"road.local","elementType":"labels.icon","stylers":[{"visibility":"on"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#315c6e"},{"lightness":17}]}]
            };

            mapElement = document.querySelector('#map_container');

            map = new google.maps.Map(mapElement, mapOptions);

            
        }
    </script>
    
}


<section ng-controller="RATController" ng-init="InitializeView()" class="rat-container">
    <section ng-hide="IsOnService" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding rat-map-correction">
        <section class="card col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding rat-map-correction">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding users-preview-container rat-map-correction">
                <div class="col-lg-4 col-sm-3 col-md-6 col-xs-12 no-padding users-container">
                    <h4 class="text-center realtime-users-title">Realtime Users</h4>
                    <ul class="users-list">
                        <li ng-repeat="socket in ConnectedSockets" class="user-online-row"> 
                                <div class="user-online col-lg-12 col-sm-12 col-xs-12 col-md-12 no-padding">
                                    <section class="avatar col-lg-4 col-md-4 col-sm-6 hidden-xs no-padding">
                                        <img class="img-responsive img-circle {{GetRandomClass()}}" alt="user online" src="~/dashboard-assets/img/online-user.svg" />
                                        <img class="img-responsive img-circle" alt="flag" src="~/dashboard-assets/img/flags/co.png" />
                                    </section>
                                    <section class="details col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                        <section class="info">
                                            <p><span>Visitor {{socket.SocketId | splitid}}</span></p>
                                            <p>
                                                <span>{{socket.ClientInformation.browserSize.width}}x{{socket.ClientInformation.browserSize.height}}</span>
                                                <i class="{{socket.ClientInformation.browserSize.width | devicetype}}" title="{{socket.ClientInformation.browserSize.width | devicetypename}}" aria-hidden="true"></i>
                                                <i class="{{socket.ClientInformation.browser | devicebrowser}}" title="{{socket.ClientInformation.browser}} {{socket.ClientInformation.browserVersion}}" aria-hidden="true"></i>
                                                <i class="{{socket.ClientInformation.os | deviceos}}" title="{{socket.ClientInformation.os}} {{socket.ClientInformation.osVersion}}" aria-hidden="true"></i>
                                            </p>
                                        </section>
                                        <section class="actions">
                                            <span>{{socket.ClientInformation.windowTitle}}</span>
                                            <section class="open text-center">
                                                <button class="btn btn-danger2" ng-click="GetEndpointRPN(socket.SocketId)">New session</button>
                                                <a href="#" class="" title="Block User" ng-click="PromptToBlockUser(socket.SocketId)"><i class="fa fa-ban" aria-hidden="true"></i></a>
                                            </section>
                                        </section>
                                    </section>
                                </div>
                                
                            </li>
                    </ul>
                </div>
                <div class="col-lg-8 col-sm-9 col-md-6 xs-hidden no-padding map">
                    <div id="map_container">
                        <div id="map"></div>
                    </div>
                    <h3 class="text-center online-users-txt">{{ConnectedSockets.length}} users online</h3>
                </div>
            </div>
        </section>
        
    </section>
    <section ng-show="IsOnService">
        <div class="rat-visor" id="rat-visor" ng-show="ScreenshotReceived">
            
            <div class="frame-container frame-container-window" id="frame-container">
                <nav class="frame">
                    <section class="window-bar">
                        <span title="Close" class="is-button" ng-click="ReloadRATViewer()"></span>
                        <span title="Maximize" class="is-button" ng-click="MazimizeRATViewer()"></span>
                        <span title="Minimize" class="is-button"></span>

                        <div class="current-window-title">{{CurrentWindowTitle}}</div>

                        <i title="Expand" class="fa fa-expand pull-right is-button" aria-hidden="true" ng-click="ExpandRATViewer()"></i>
                    </section>
                    <section class="tools-bar">
                        <i title="Back" class="fa fa-chevron-left icon-disabled is-button" aria-hidden="true" ng-click="BackVisor()"></i>
                        <i title="Forward" class="fa fa-chevron-right icon-disabled is-button" aria-hidden="true" ng-click="ForwardVisor()"></i>
                        <i title="Reload" class="fa fa-repeat is-button" aria-hidden="true" ng-click="ReloadVisor()"></i>
                        <i title="Home" class="fa fa-home is-button" aria-hidden="true" ng-click="HomeVisor()"></i>

                        <input type="text" placeholder="Web address" val="" ng-model="CurrentUserPath" ng-keypress="($event.charCode==13)? NavigateVisor() : return"/>
                        
                        <i title="Options" class="fa fa-bars pull-right icon-disabled is-button" aria-hidden="true"></i>
                    </section>
                </nav>
            </div>
            <div class="event-handler"></div>
        </div>

        <div class="console">
            <div class="output">
                <span>Initializing...</span><br/>
                <span class="green">0.0002ms ok!</span><br/>
                <span class="seperator">== == == == == == == == == == == == == == == == == ==</span></br>
                <pre contenteditable="false">
   ___                     _             ___  _  _        
  / __| _ _  __ _ __ __ __| | ___  _ _  / __|(_)| |_  ___ 
 | (__ | '_|/ _` |\ V  V /| |/ -_)| '_| \__ \| ||  _|/ -_)
  \___||_|  \__,_| \_/\_/ |_|\___||_|   |___/|_| \__|\___|
                </pre>
                <span class="seperator">== == == == == == == == == == == == == == == == == ==</span></br>
                <span>Remote Administration Tool</span>
                </br>
                
            </div>
            <div class="action">
                <ul>
                    <li ng-repeat="log in SettingUpLog track by $index">> {{log}}</li>
                </ul>
            </div>
        </div>
    </section>
</section>