@{
    ViewBag.Title = "Remote Administration Tool";
}

@section Scripts{
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="@Url.Content("~/Angular/RAT/Service.js")"></script>
    <script src="@Url.Content("~/Angular/RAT/Controller.js")"></script>
}

<section ng-controller="RATController" ng-init="InitializeView()">
    <ul ng-hide="IsOnService">
        <li ng-repeat="socket in ConnectedSockets"><a href ng-click="GetEndpointRPN(socket.SocketId)">{{socket.SocketId}}</a></li>
    </ul>
    <section ng-show="IsOnService">
        <div class="rat-visor" id="rat-visor" ng-show="ScreenshotReceived">
            <div class="frame-container" id="frame-container"></div>
            <div class="event-handler"></div>
        </div>
        <div class="settingup-log">
            <ul>
                <li ng-repeat="log in SettingUpLog track by $index">{{log}}</li>
            </ul>
        </div>
    </section>
</section>