@{
    ViewBag.Title = "Heatmaps";
}

<section ng-controller="TreemapController" ng-init="InitializeView()" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 heatmap-box">
    <section class="col-lg-12 col-md-12 col-sm-12 hidden-xs tree-map">
        <div class="card">
            <div class="content">
                <div class="row">
                    <h3 class="text-center" style="margin-bottom: 30px;">Please choose one page</h3>
                    <section id="treeMap"></section>
                </div>
            </div>
        </div>        
    </section>
    <section class="hidden-lg hidden-md hidden-sm col-xs-12 tree-map-mobile">
        
    </section>
</section>

@section Scripts{
    <script src="@Url.Content("~/Angular/Treemap/Service.js")"></script>
    <script src="@Url.Content("~/Angular/Treemap/Controller.js")"></script>
    <script src="~/js/mousetrap.js"></script>
    <script src="~/js/tree.js"></script>
    <script>
        $Flinger.SiteMap.loadJSON(initialData);

        $Flinger.SiteMobileMap.loadJSON(initialData);
    </script>
}