<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Easy way to truly understand your web and mobile site visitors">
    <meta name="author" content="Coplest S.A.S.">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Flinger</title>

		<!-- Schema.org markup for Google+ -->
		<meta itemprop="name" content="Flinger">
		<meta itemprop="description" content="Easy way to truly understand your web and mobile site visitors">
		<meta itemprop="image" content="http://flinger.azurewebsites.net/Templates/Mockups/Flinger_Dashboard_Web.jpg" />
		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="&#64;Flinger">
		<meta name="twitter:title" content="Flinger">
		<meta name="twitter:description" content="Easy way to truly understand your web and mobile site visitors">
		<meta name="twitter:creator" content="&#64;Flinger">
		<meta name="twitter:image" content="http://flinger.azurewebsites.net/Templates/Mockups/Flinger_Dashboard_Web.jpg">
		<!-- Open Graph data -->
		<meta property="og:title" content="Flinger" />
		<meta property="og:type" content="product" />
		<meta property="og:url" content="http://flinger.azurewebsites.net/" />
		<meta property="og:image" content="http://flinger.azurewebsites.net/Templates/Mockups/Flinger_Dashboard_Web.jpg" />
		<meta property="og:description" content="Easy way to truly understand your web and mobile site visitors" />
		<meta property="og:site_name" content="FLINGER" />

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
    

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="index.html"><b class="app-name">Flinger</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#home" class="smoothScroll">Home</a></li>
	            <li><a href="#desc" class="smoothScroll">Description</a></li>
	            <li><a href="#screenshots" class="smoothScroll">Features</a></li>
	            <li><a href="pricing.html">Pricing</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
				<div class="nav-bar-right">
					<a href="../Register/index.html" class="btn btn-danger">TRY IT FOR FREE</a><!--https://picjumbo.com/macbook-pro-keyboard-detail/-->
					<a href="http://localhost:3000/dashboard" class="btn btn-default">Login</a>
				</div>
	    </div>


	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Welcome To <b class="app-name">Flinger</b></h1>
					<h3>Easy way to truly understand your web and mobile site visitors</h3>
					<br>
	    		</div>
	    		
	    		<div class="col-lg-2">
	    			<h5>Heatmaps</h5>
	    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	    			<img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow1.png">
	    		</div>
	    		<div class="col-lg-8">
	    			<img class="img-responsive" src="assets/img/app-bg.png" alt="">
	    		</div>
	    		<div class="col-lg-2">
	    			<br>
	    			<img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow2.png">
	    			<h5>Remote administration</h5>
	    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row">
				<h2 class="intro-header">Stop Improvising.</h2>
				<h2 class="intro-header">Starts to Analyze.</h2>
			</div>
			<br>
		</div> <!--/ .container -->
		<div class="overlay"></div>
	</div><!--/ #introwrap -->
	
	<!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">What we offer?</h1>
				<br>
				<br>
				<div class="col-lg-12">
					<div class="col-lg-5">
					<img class="img-responsive centered" src="assets/img/heatmaps-0.jpg" alt="">
					</div>
					<div class="col-lg-2">
						<img class="img-responsive centered" src="assets/img/arrow3.png" alt="">
					</div>
					<div class="col-lg-5">
						<h3>Thinking like you we offer next services</h3>
						<br>
					<!-- ACCORDION -->
						<div class="accordion ac" id="accordion2">
								<div class="accordion-group">
										<div class="accordion-heading">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
												Heatmaps
												</a>
										</div><!-- /accordion-heading -->
										<div id="collapseOne" class="accordion-body collapse in">
												<div class="accordion-inner">
													<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
												</div><!-- /accordion-inner -->
										</div><!-- /collapse -->
								</div><!-- /accordion-group -->
								<br>

								<div class="accordion-group">
										<div class="accordion-heading">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
												Screen recorder
												</a>
										</div>
										<div id="collapseTwo" class="accordion-body collapse">
												<div class="accordion-inner">
													<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
												</div><!-- /accordion-inner -->
										</div><!-- /collapse -->
								</div><!-- /accordion-group -->
								<br>

									<div class="accordion-group">
										<div class="accordion-heading">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
												Form analysis
												</a>
										</div>
										<div id="collapseThree" class="accordion-body collapse">
												<div class="accordion-inner">
													<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
												</div><!-- /accordion-inner -->
										</div><!-- /collapse -->
								</div><!-- /accordion-group -->
								<br>
								
									<div class="accordion-group">
										<div class="accordion-heading">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
												Remote administration
												</a>
										</div>
										<div id="collapseFour" class="accordion-body collapse">
												<div class="accordion-inner">
													<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
												</div><!-- /accordion-inner -->
										</div><!-- /collapse -->
								</div><!-- /accordion-group -->
								<br>			
						</div><!-- Accordion -->
					</div>
				</div>
				</div>
			</div>
		
	</div><!--/ #features -->
	
	
	<section id="screenshots" name="showcase"></section>
	<div id="showcase">
		<div class="container">
			<div class="row">
				<h1 class="centered">Some Screenshots</h1>
				<br>
				<div class="col-lg-12">
					<div id="carousel-example-generic" class="carousel slide">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					  </ol>
					
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					      <img src="assets/img/features1.png" alt="">
					    </div>
					    <div class="item">
					      <img src="assets/img/features2.png" alt="">
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>	
		</div><!-- /container -->
	</div>	


	<section id="contact" name="contact"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-3">
				<h3>FLINGER</h3>
				<p>
					<a href="#" class="footer-link">Our Product</a><br/>
					<a href="#" class="footer-link">Pricing</a><br/>
					<a href="#" class="footer-link">Calculator</a><br/>
				</p>
			</div>
			
			<div class="col-lg-3">
				<h3>SUPPORT</h3>
				<p>
					<a href="#" class="footer-link">Documentation</a><br/>
					<a href="#" class="footer-link">Chat</a><br/>
					<a href="#" class="footer-link">Security</a><br/>
				</p>
			</div>

			<div class="col-lg-3">
				<h3>COPLEST</h3>
				<p>
					<a href="#" class="footer-link">About us</a><br/>
					<a href="#" class="footer-link">Blog</a><br/>
					<a href="#" class="footer-link">Contact us</a><br/>
				</p>
			</div>

			<div class="col-lg-3 footer-separator">
				<h3>LEGAL</h3>
				<p>
					<a href="#" class="footer-link">Terms & conditions</a><br/>
					<a href="#" class="footer-link">Privacy policy</a><br/>
					<a href="#" class="footer-link">Cookies information</a><br/>
				</p>
			</div>
		</div>
	</div>
	<div id="c">
		<div class="container">
			<p>Created by <a href="http://coplest.com">COPLEST</a></p>
		
		</div>
	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.js"></script>
		<script>
			$('.carousel').carousel({
				interval: 3500
			})

			$('.navbar-nav>li').click(function(){
				$('.navbar-nav>li').removeClass('active');
				$(this).addClass('active');
			})
		</script>
  </body>
</html>
