@{
    ViewBag.Title = "Sites";
}

@section Scripts{
    <script src="@Url.Content("~/Angular/Site/Service.js")"></script>
    <script src="@Url.Content("~/Angular/Site/Controller.js")"></script>
}

<section ng-controller="SiteController" ng-init="InitializeDeleteView()">
    <h2 class="text-center">Are you sure to delete permanently <span>{{Site.Name}}</span>?</h2>

    <form class="form-horizontal text-center" ng-submit="DeleteSite()">
        <input type="hidden" id="_id" name="_id" ng-model="site._id" />

        <input type="submit" value="Yes" class="btn btn-danger" />

        <a href="@Url.Action("Index")" class="btn btn-success">No</a>
    </form>
</section>