@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div id="headerwrap">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Contact us</h3>
                    <p>Let us know your needs, what we can do to improve, feature requests. We’d love to hear from you:</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
            <div class="form-bottom contact-form">
                <form role="form" action="assets/contact.php" method="post">
                    <div class="form-group">
                        <label class="sr-only" for="contact-subject">Subject</label>
                        <input type="text" name="Fullname" placeholder="Full Name" class="contact-subject form-control" id="contact-Fullname">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="contact-email">Email</label>
                        <input type="email" name="email" placeholder="Email" class="contact-email form-control" id="contact-email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="contact-subject">Subject</label>
                        <input type="text" name="Country" placeholder="Subject" class="contact-subject form-control" id="contact-subject">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="contact-subject">Subject</label>
                        <input type="text" name="Country" placeholder="Country" class="contact-subject form-control" id="contact-Country">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="contact-subject">Subject</label>
                        <input type="tel" name="Telephone" placeholder="Telephone" class="contact-subject form-control" id="contact-Telephone">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="contact-message">Message</label>
                        <textarea name="message" placeholder="Enter your massage for us here. We will get back as soon as posible." class="contact-message form-control" id="contact-message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger">Send message</button>
                </form>
            </div>
        </div>
    </div>




</div>

