@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section id="home" name="home"></section>
<div id="headerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-12 animate-box" data-animate-effect="fadeIn">
				<h1>Welcome To <b class="app-name">Crawler Sites</b></h1>
				<h3>Understanding your users has never been so easy</h3>
				<br>
			</div>
			
			<div class="col-lg-2 animate-box" data-animate-effect="fadeInRight" data-animate-time="500">
				<h5>Easy to understand</h5>
				<p>We make everything for you, only select your site and enjoy.</p>
				<img class="hidden-xs hidden-sm hidden-md" src="~/home-assets/img/arrow1.png">
			</div>
			<div class="col-lg-8 animate-box" data-animate-effect="fadeIn">
				<img class="img-responsive" src="~/home-assets/img/app-bg.jpg" alt="">
			</div>
			<div class="col-lg-2 animate-box" data-animate-effect="fadeInLeft" data-animate-time="200">
				<br>
				<img class="hidden-xs hidden-sm hidden-md" src="~/home-assets/img/arrow2.png">
				<h5>Easy to use</h5>
				<p>With only 3 steps you can setting up your Web App.</p>
			</div>
		</div>
	</div> <!--/ .container -->
</div><!--/ #headerwrap -->


<section id="desc" name="desc"></section>
<!-- INTRO WRAP -->
<div id="intro">
	<div class="container">
		<div class="row">
			<h2 class="intro-header animate-box">Stop Improvising.</h2>
			<h2 class="intro-header animate-box">Starts to Analyze.</h2>
		</div>
		<br>
	</div> <!--/ .container -->
	<div class="overlay"></div>
</div><!--/ #introwrap -->

<section class="what-is-flinger">
	<div class="container">
		<div  class="row animate-box" data-animate-effect="fadeIn">				
			<h2 class="col-lg-12 text-center white-color">What is <span class="green-color">Crawler Site</span>?</h2>
			<p class="col-lg-8 col-lg-offset-2 white-color text-center"> 
				Crawler Site is a post-production platform to analyze web users behavior in real time, you can see behavioral heatmaps, control their own computers to assist remotely, see how they behave on your website with screen recorder and analyze all your web forms.
			</p>
		</div>
	</div>
</section>

<!-- FEATURES WRAP -->
<div id="features">
	<div class="container">
		<div class="row">
			<h1 class="centered animate-box" data-animate-effect="fadeIn">What we offer?</h1>
			<br>
			<br>
			<div class="col-lg-12 animate-box" data-animate-effect="fadeIn">
				<div class="col-lg-5">
				<img class="img-responsive centered" style="border: 1px #cdcdcd solid;" src="~/home-assets/img/heatmaps-0.jpg" alt="">
				</div>
				<div class="col-lg-2">
					<img class="img-responsive centered hidden-xs hidden-sm" src="~/home-assets/img/arrow3.png" alt="">
				</div>
				<div class="col-lg-5">
					<h3>Thinking like you we offer next services</h3>
					<br>
				
					<div class="container">
						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading reset-panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="accordion-toggle">Heatmaps</a>
									</h4>
								</div>
								<div id="collapse1" class="panel-collapse collapse in">
									<div class="panel-body"><p>You can see like your users shown your web app, filtering by "Eye Tracking", Click and scroll movements you can improve your web app checking where is hot zones. We capturing thousands and thousands of MegaBytes to analize and tell you a graphical report.</p></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading reset-panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Remote administration</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse collapse">
									<div class="panel-body"><p>In production only way to assist your own users is chat or offline forms, now you can assist in realtime your online users controlling their mouse and keyboard without any installation or browser plugins.</p></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading reset-panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Form analysis</a>
									</h4>
								</div>
								<div id="collapse3" class="panel-collapse collapse">
									<div class="panel-body"><p>Using Machine Learning we analyze your forms and we discover why your users abandon your forms and show you what is better choice to improve success rate.</p></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading reset-panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Screen recorder</a>
									</h4>
								</div>
								<div id="collapse4" class="panel-collapse collapse">
									<div class="panel-body"><p>To understanding a specific user poblation you need to see how to interact with your Web App, with this recordings you can see click and movements of their cursor.</p></div>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
			</div>
		</div>
	
</div>


<section id="screenshots" name="showcase"></section>
<div id="showcase">
	<div class="container">
		<div class="row">
			<h1 class="centered animate-box" data-animate-effect="fadeIn">Some Screenshots</h1>
			<br>
			<div class="col-lg-12">
				<div id="carousel-example-generic" class="carousel slide animate-box" data-animate-effect="fadeIn">
					
					<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>
				
					
					<div class="carousel-inner">
					<div class="item active">
						<img src="~/home-assets/img/features1.png" alt="">
					</div>
					<div class="item">
						<img src="~/home-assets/img/features2.png" alt="">
					</div>
					<div class="item">
						<img src="~/home-assets/img/features3.png" alt="">
					</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>	
	</div><!-- /container -->
</div>	


<section id="contact" name="contact"></section>

@section Scripts{
	<script>
		$('.carousel').carousel({
			interval: 3500
		})

		$('.navbar-nav>li').click(function(){
			$('.navbar-nav>li').removeClass('active');
			$(this).addClass('active');
		})
	</script>
}