@{
    ViewBag.Title = "Delete IP";
}

@section Scripts{
    <script src="@Url.Content("~/Angular/Ip/Service.js")"></script>
    <script src="@Url.Content("~/Angular/Site/Service.js")"></script>
    <script src="@Url.Content("~/Angular/Ip/Controller.js")"></script>
}

<section ng-controller="IpController" ng-init="InitializeDeleteView()">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3">
        <div class="card">
            <div class="header">
                <h4 class="title text-center">Are you sure to delete?</h4>
                <p class="category">This action delete <span>{{Ip.IP}}</span> IP permanently</p>
            </div>
            
            <div class="content">
                <form  class="form-horizontal text-center" ng-submit="DeleteIp()">            
                    <input type="submit" value="Yes" class="btn btn-danger btn-wd btn-fill" />

                    <a href="@Url.Action("Index")" class="btn btn-danger btn-wd">No</a>
                </form>
            </div>
        </div>    
    </div>
    
</section>