@{
    ViewBag.Title = "Delete IP";
}

@section Scripts{
    <script src="@Url.Content("~/Angular/Ip/Service.js")"></script>
    <script src="@Url.Content("~/Angular/Site/Service.js")"></script>
    <script src="@Url.Content("~/Angular/Ip/Controller.js")"></script>
}

<section ng-controller="IpController" ng-init="InitializeDeleteView()">
    <div class="card col-sm-6 col-sm-offset-3">
        <h2 class="text-center">Are you sure to delete permanently <span>{{Ip.IP}}</span>?</h2>

        <form  class="form-horizontal text-center" ng-submit="DeleteIp()">            
            <input type="submit" value="Yes" class="btn btn-danger btn-wd btn-fill" />

            <a href="@Url.Action("Index")" class="btn btn-danger btn-wd">No</a>
        </form>
    </div>
</section>